/* ===== base css start ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #777777;
}

/* ===== end of base css ===== */


/* ===== utility css start ===== */
.bg-blue {
    background-color: #289BDE;
}

.text-blue {
    color: #289BDE;
}

.text-dark-1 {
    color: #1D1D1D;
}

.text-dark-2 {
    color: #4A4A4A;
}

.text-dark-3 {
    color: #777777;
}

.text-dark-4 {
    color: #A4A4A4;
}

.text-dark-5 {
    color: #D2D2D2;
}

.text-dark-6 {
    color: #E8E8E8;
}

.text-dark-7 {
    color: #F4F4F4;
}

/* ===== end of utility css ===== */


/* ===== component css start ===== */
.btn-outline-blue {
    font-size: 20px;
    color: #289BDE;
    border-color: #289BDE;
}

.btn-outline-blue:hover {
    background-color: #289BDE;
    color: #fff;
}

.btn-blue {
    font-size: 20px;
    color: #fff;
    background-color: #289BDE;
    border-color: #289BDE;
}

.btn-blue:hover {
    color: #fff;
    background-color: #2694d3;
    border-color: #289BDE;
}

/* ===== end of component css ===== */


/* ===== hero-banner css start ===== */
.hero-banner .carousel-item-1 {
    background: url(../images/cover/cover-1.png) no-repeat center center/cover;
}

.hero-banner .carousel-item-2 {
    background: url(../images/cover/cover-2.png) no-repeat center center/cover;
}

.hero-banner .carousel-item-3 {
    background: url(../images/cover/cover-3.png) no-repeat center center/cover;
}

/* ===== end of hero-banner css ===== */

/* ===== ? css start ===== */
/* ===== end of ? css ===== */

/* ===== responsive css start ===== */
@media (min-width: 768px) {
    .popular-courses .card-img {
        max-width: 200px;
    }
}

@media screen and (min-width: 1200px) {

    .hero-banner .carousel-item,
    .hero-banner .carousel-item-inner {
        min-height: 700px;
    }

    .hero-banner .carousel-title {
        font-size: 4rem !important;
    }

    .hero-banner .carousel-item p {
        font-size: 18px;
    }
}

/* ===== end of responsive css ===== */